
nav {
  margin: 0px;
  border-bottom: 6px ridge #C5F5EB;
}

nav ul{
    list-style-type: none;
    margin: 5px 5px;
    padding: 0;
}

body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

img {
  margin-right: 30px;
  float: left;
}
article h3 {
  margin-bottom: 0px;
}

header p {
    color: #aaa;
    font-size: 12px;
}

a:visited {
  color: green;
}

section {
  margin-left: 5%;
  margin-top: 20px;
  border-bottom: 6px solid gray;
}

article {
  padding: 10px 2% 20px;
  width: 80%;
  border-radius: 10px;
  margin: 10px auto;
}

.art-tech {
  background-color: #EFEFEF;
  /*padding: 0px; margin: 1px 0px 0px; border: 0px none; visibility: hidden; width: 30px; height: 0px; position: static; top: 0px;*/
}

.art-perso {
  background: #E2FAF5;
}

#body-nvc {
  background: url(https://upload.wikimedia.org/wikipedia/commons/0/02/Giraffe_Ithala_KZN_South_Africa_Luca_Galuzzi_2004.JPG) no-repeat center center fixed;
  background-size: cover;
}

.foot-main {
    margin-left: 50%;
    margin-right: auto;
    width: 100%;
}

@media screen and (max-width: 500px) {
  article {
    width: 100%;
    }
  #body-nvc {
    background-image: none;
  }
}


