
body {
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

article h2 {
  margin-bottom: 0px;
}

header p {
    color: #aaa;
    font-size: 12px;
}

a:visited {
  color: green;
}

article {
  padding: 10px 2% 20px;
  width: 80%;
  border-radius: 10px;
  margin: 10px auto;
}

.art-tech {
  background-color: #EFEFEF;
  /*padding: 0px; margin: 1px 0px 0px; border: 0px none; visibility: hidden; width: 30px; height: 0px; position: static; top: 0px;*/
}

.art-perso {
  //background: #C5F5EB;
  background: #E2FAF5;
}

#body-nvc {
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/02/Giraffe_Ithala_KZN_South_Africa_Luca_Galuzzi_2004.JPG);
  background-repeat: no-repeat;
  background-position: center center fixed;*/
  background: url(https://upload.wikimedia.org/wikipedia/commons/0/02/Giraffe_Ithala_KZN_South_Africa_Luca_Galuzzi_2004.JPG) no-repeat center center fixed;
  background-size: cover;
}

.foot-main {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}


